<ion-header>
  <ion-navbar>
    <ion-title>Scan History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  
  <div class="my-wallet">
    <p>Total Wallet Point</p>
    <h2>{{user_data.wallet_point}}</h2>
    <a (click)="goToTermPage()">View Terms & Conditions</a>
    
  </div>
  
  <div  class="refbtn" style="padding: 16px 16px 0px 16px;">
    <button *ngIf="user_data.wallet_point >= scheme_validation_data.minimum_point_redeem" ion-button block (click)="send_redeem_rqst()">Send Redeem Requset</button>
  </div>
  
  <div padding>
    <div class="history-list" *ngFor="let data of scan_code_data">
      <div class="flex-list">
        <div class="cs-date">
          <p>{{data.scanned_date | date:'dd'}}</p>
          <span>{{data.scanned_date | date:'MMM'}}</span>
        </div>
        <div class="cs-content">
          <p>{{data.product_name}}</p>
          <span>{{data.product_category}}</span>
        </div>
        <div class="cs-amount">
          <p>Point</p>
          <span>{{data.qr_code_value}}</span>
        </div>
        
      </div>
    </div>
    
    <!-- infinite scroll -->
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="get_scan_code_data_scroll($event)"  *ngIf="flag!=1">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- infinite scroll end -->
  
</div>
</ion-content>
