<ion-header>
	<ion-navbar>
		<ion-title>
			<h1>Sub Category</h1>
		</ion-title>
	</ion-navbar>
	<ion-toolbar>
		<ion-searchbar (ionInput)="getOfferSubCategory()" name="sub_cat_name" [(ngModel)]="search.sub_cat_name"></ion-searchbar>
	</ion-toolbar>
	<p class="sub-cat">{{cat | titlecase}}</p>
</ion-header>

<ion-content class="mt0">
	<div class="listing" *ngIf="subCategory_data.length!=0">
		<ion-list>
			<button ion-item  *ngFor="let row of subCategory_data" (click)="getProductList(row.offer_name,row.product_length)">
				<div class="description">
					<h2>{{row.offer_name | uppercase}}</h2>
					<!-- <p *ngIf="row.product_length == '1'">{{row.scheme_value_points}} Point</p> -->
					<ion-icon name="ios-arrow-forward-outline"></ion-icon>
				</div>
			</button>
		</ion-list>
	</div>
	<div class="nothing-here" *ngIf="subCategory_data.length==0">
		<div class="outer">
			<div class="innear">
				<img src="assets/no-found/not-found-data.gif" alt="">
				<p>No data found</p>
			</div>
		</div>
	</div>
</ion-content>
