<ion-content>
	
	<div class="cs-hedaer2">
		<img class="logo" src="assets/imgs/pearl_logo-2.png" alt="">
	</div>
	
	<p>Select Registration Type</p>
	<ion-list radio-group [(ngModel)]="data.registerType">
		<ion-item *ngFor="let list of registerTypeList">
			<ion-label *ngIf="list.name=='Distributor'">Channel Partner</ion-label>
			<ion-label *ngIf="list.name=='Dealer'">Dealer</ion-label>
			<ion-label *ngIf="list.name=='Plumber'">Plumbing Man</ion-label>
			<ion-label *ngIf="list.name=='Consumer'">Consumer</ion-label>
			<ion-label *ngIf="list.name=='Staff Login'">Employee Login</ion-label>
			<ion-radio value="{{list.name}}"></ion-radio>
		</ion-item>
	</ion-list>
	
</ion-content>

<ion-footer>
	<button ion-button [disabled]="!data?.registerType" (click)="goToRegisterPage()" class="signup-btn">GO <i class="material-icons">arrow_forward</i></button>
</ion-footer>

