<ion-header>
	<ion-navbar>
		<ion-title>
			<h1 *ngIf="user_data1 == ''">Add Order</h1>
			<h1 *ngIf="user_data1 != ''">Add Order Item</h1>
			
		</ion-title>
		
		<div class="cart" (click)="go_to_cart()" *ngIf="globalVar ">
			<span>{{globalVar}}</span>
			<i class="material-icons">shopping_cart</i>
		</div>
		
	</ion-navbar>
</ion-header>


<ion-content>
	
	<div class="prlist sticky">
		<div class="box light-red-bg relative">
			
			<div class="relative">
				<h1 class="font14 mb10 semibold">{{data.company_name | titlecase}}</h1>
			</div>
			
			
			
			<div class="heading border-none pb0">
				<div class="dist-name dflex mb0">
					<div class="first-leter w50">H</div>
					<div class="name-number">
						<p style="margin-top: 10px !important;">{{data.name | titlecase}}</p>
						
						<div class="text-with-ic dflex mb0">
							<i class="material-icons text-relat-icon">call</i>
							<p>+91-{{data.mobile}}</p>
						</div>
					</div>
				</div>
			</div>
			
			
			
			
		</div>
	</div>
	
	<div class="edit">
		
		<div class="csslecttype" *ngIf="data.type == 3">
			<ion-item>
				<ion-label>Select Distributor</ion-label>
				<ionic-selectable item-content
				[(ngModel)]="data.distributor_id"
				(ngModelChange) ="onDistributorChangeHandler()"
				[items]="distributor_list"
				itemValueField="id"
				itemTextField="company_name"
				name="company_name"
				value="id"
				[canSearch]="true">
			</ionic-selectable>
		</ion-item>
	</div>
	
	
	<div class="csslecttype" *ngIf="data.distributor_id && data.type == 3">
		<ion-item>
			<ion-label>Product Code</ion-label>
			<select-searchable
			item-content
			[(ngModel)]="data.cat_no"
			[items]="autocompleteItems"
			itemValueField="cat_no"
			itemTextField="cat_no"
			name="cat_no"
			value="cat_no"
			[canSearch]="true"
			[hasVirtualScroll]="true"
			(onChange)="portChange($event)"
			>
		</select-searchable>
	</ion-item>
</div>

<div class="csslecttype" *ngIf="data.type != 3">
	<ion-item>
		<ion-label>Product Code</ion-label>
		<select-searchable
		item-content
		[(ngModel)]="data.cat_no"
		[items]="autocompleteItems"
		itemValueField="cat_no"
		itemTextField="cat_no"
		name="cat_no"
		value="cat_no"
		[canSearch]="true"
		[hasVirtualScroll]="true"
		(onChange)="portChange($event)"
		>
	</select-searchable>
</ion-item>
</div>


<!--
	<div class="csslecttype">
		<ion-item>
			<ion-label>Product Code</ion-label>
			<ionic-selectable
			item-content
			[(ngModel)]="data.cat_no"
			[items]="autocompleteItems"
			itemValueField="cat_no"
			itemTextField="cat_no"
			name="cat_no"
			value="cat_no"
			[canSearch]="true"
			[hasVirtualScroll]="true"
			(onChange)="portChange($event)"
			(onSearch)="searchPorts($event)"
			>
		</ionic-selectable>
	</ion-item>
</div> -->

<ion-list>
	<!-- <ion-item *ngIf=" brandList.length > 1" class="cs-select mt16">
		<ion-label>Brand</ion-label>
		<ion-select placeholder="Select Brand" (ionChange)="brandSelected(data.brand)" name="brand"  [(ngModel)]="data.brand">
			<ion-option *ngFor="let data of brandList"  value="{{data.brand_name}}">{{data.brand_name}}</ion-option>
		</ion-select>
	</ion-item> -->
	
	
	<div class="cs-box-radio  mt16" *ngIf=" brandList.length > 1" >
		<ion-list radio-group (ionChange)="brandSelected(data.brand)" name="brand"  [(ngModel)]="data.brand">
			<ion-item *ngFor="let data of brandList">
				<ion-label>{{data.brand_name}}</ion-label>
				<ion-radio value="{{data.brand_name}}"></ion-radio>
			</ion-item>
		</ion-list>
	</div>
	
	
	<ion-item *ngIf="colorList.length > 1" class="cs-select mt16">
		<ion-label>Color</ion-label>
		<ion-select placeholder="Select Color" name="color" (ionChange)="colorSelected(data.color);" [(ngModel)]="data.color">
			<ion-option *ngFor="let data of colorList" value="{{data.color_name}}">{{data.color_name}}</ion-option>
		</ion-select>
	</ion-item>
</ion-list>





<!-- <div class="pt16 pb16" *ngIf="show1 == '1'">
	<div class="cs-figure">
		<p *ngIf="value.product_name"><span>Product Name :</span> {{value.product_name}}</p>
		<p *ngIf="brandList.length == 1"><span>BRAND :</span>  {{data.brand}}</p>
		<p *ngIf="colorList.length == 1"> <span>COLOR :</span> {{data.color}}</p>
	</div>
</div> -->


</div>


<div class="pr-info mt16" *ngIf="data.cat_no == ''">
	<div class="header">CATEGORY INFORMATION</div>
	<div class="badges">
		<ul>
			<li [ngClass]="{'active':data.active == true}" *ngFor="let data of categoryList">({{data.appOrderFlag}}).  {{data.category}}</li>
		</ul>
	</div>
</div>

<div class="pr-info mt16" >
	<div class="header">Product Information</div>
	
	<div class="dummycnt" *ngIf="data.cat_no == ''">
		To Add New Item Into Cart, Select Item Product Code.
	</div>
	
	
	
	<div class="data-table" *ngIf="(value) && (order_qty == '1') && (colorList.length == 1 && brandList.length == 1) && show == true" >
		<table>
			<tr>
				<th>Name</th>
				<td>{{value.product_name | titlecase}}</td>
			</tr>
			
			<tr *ngIf="brandList.length == 1">
				<th>Brand</th>
				<td>{{data.brand | titlecase}}</td>
			</tr>
			
			<tr *ngIf="colorList.length == 1">
				<th>Color</th>
				<td>{{data.color | titlecase}}</td>
			</tr>
			
			<tr>
				<th>Category</th>
				<td>{{value.category | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.sub_category">
				<th>Sub Category</th>
				<td>{{value.sub_category | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.secondary_packing">
				<th>Small Packing</th>
				<td>{{value.secondary_packing}}</td>
			</tr>
			
			<tr *ngIf="value.master_packing">
				<th>Master Packing</th>
				<td>{{value.master_packing}}</td>
			</tr>
			
			<tr *ngIf="user_type == '3'">
				<td colspan="2">
					<div class="cs-box-radio table-btn-transparent">
						<ion-list radio-group class="cs-ion-radio" name="gstType" [(ngModel)]="gstObj.gstType" (ionChange)="selectSecondaryGstType(gstObj.gstType);calculateAmount1(this.value.qty,this.value.dealer_discount);calculateAmount2(this.value.qty,this.value.dealer_rate)">
							<ion-list-header>
								<ion-label>GST</ion-label>
							</ion-list-header>
							<ion-item>
								<ion-label>GST Paid</ion-label>
								<ion-radio value="With GST" checked></ion-radio>
							</ion-item>
							
							<ion-item>
								<ion-label>GST Extra</ion-label>
								<ion-radio value="Extra GST"></ion-radio>
							</ion-item>
						</ion-list>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
	
	<div class="data-table" *ngIf="(value) && (order_qty == '1') && (brandList.length == 1 && colorList.length == 0) && show == true" >
		<table>
			<tr>
				<th>Name</th>
				<td>{{value.product_name | titlecase}}</td>
			</tr>
			<tr *ngIf="brandList.length == 1">
				<th>Brand</th>
				<td>{{data.brand | titlecase}}</td>
			</tr>
			
			
			<tr *ngIf="colorList.length == 1">
				<th>Color</th>
				<td>{{data.color | titlecase}}</td>
			</tr>
			<tr>
				<th>Category</th>
				<td>{{value.category | titlecase}}</td>
			</tr>
			<tr *ngIf="value.sub_category">
				<th>Sub Category</th>
				<td>{{value.sub_category | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.secondary_packing">
				<th>Small Packing</th>
				<td>{{value.secondary_packing}}</td>
			</tr>
			
			<tr *ngIf="value.master_packing">
				<th>Master Packing</th>
				<td>{{value.master_packing }}</td>
			</tr>
			
			<tr *ngIf="user_type == '3'">
				<td colspan="2">
					<div class="cs-box-radio table-btn-transparent">
						<ion-list radio-group class="cs-ion-radio" name="gstType" [(ngModel)]="gstObj.gstType" (ionChange)="selectSecondaryGstType(gstObj.gstType);calculateAmount1(this.value.qty,this.value.dealer_discount);calculateAmount2(this.value.qty,this.value.dealer_rate)">
							<ion-list-header>
								<ion-label>GST</ion-label>
							</ion-list-header>
							<ion-item>
								<ion-label>GST Paid</ion-label>
								<ion-radio value="With GST" checked></ion-radio>
							</ion-item>
							
							<ion-item>
								<ion-label>GST Extra</ion-label>
								<ion-radio value="Extra GST"></ion-radio>
							</ion-item>
						</ion-list>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
	<div class="data-table" *ngIf="(value) && (order_qty == '1') && (brandList.length == 1 && color == 1) && show == true" >
		<table>
			<tr>
				<th>Name</th>
				<td>{{value.product_name | titlecase}}</td>
			</tr>
			
			<tr *ngIf="brandList.length == 1">
				<th>Brand</th>
				<td>{{data.brand | titlecase}}</td>
			</tr>
			
			<tr *ngIf="colorList.length == 1">
				<th>Color</th>
				<td>{{data.color | titlecase}}</td>
			</tr>
			
			<tr>
				<th>Category</th>
				<td>{{value.category | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.sub_category">
				<th>Sub Category</th>
				<td>{{value.sub_category | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.secondary_packing">
				<th>Small Packing</th>
				<td>{{value.secondary_packing}}</td>
			</tr>
			
			<tr *ngIf="value.master_packing">
				<th>Master Packing</th>
				<td>{{value.master_packing }}</td>
			</tr>
			
			<tr *ngIf="user_type == '3'">
				<td colspan="2">
					<div class="cs-box-radio table-btn-transparent">
						<ion-list radio-group class="cs-ion-radio" name="gstType" [(ngModel)]="gstObj.gstType" (ionChange)="selectSecondaryGstType(gstObj.gstType);calculateAmount1(this.value.qty,this.value.dealer_discount);calculateAmount2(this.value.qty,this.value.dealer_rate)">
							<ion-list-header>
								<ion-label>GST</ion-label>
							</ion-list-header>
							<ion-item>
								<ion-label>GST Paid</ion-label>
								<ion-radio value="With GST" checked></ion-radio>
							</ion-item>
							
							<ion-item>
								<ion-label>GST Extra</ion-label>
								<ion-radio value="Extra GST"></ion-radio>
							</ion-item>
						</ion-list>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
	<div class="data-table" *ngIf="(value) && (order_qty == '1') && (brandList.length > 1 && brand == 1 && colorList.length == 0) && show == true" >
		<table>
			<tr>
				<th>Name</th>
				<td>{{value.product_name | titlecase}}</td>
			</tr>
			
			<tr *ngIf="brandList.length > 1">
				<th>Brand</th>
				<td>{{data.brand | titlecase}}</td>
			</tr>
			
			<tr *ngIf="colorList.length == 1">
				<th>Color</th>
				<td>{{data.color | titlecase}}</td>
			</tr>
			
			<tr>
				<th>Category</th>
				<td>{{value.category | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.sub_category">
				<th>Sub Category</th>
				<td>{{value.sub_category | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.secondary_packing">
				<th>Small Packing</th>
				<td>{{value.secondary_packing}}</td>
			</tr>
			
			<tr *ngIf="value.master_packing">
				<th>Master Packing</th>
				<td>{{value.master_packing }}</td>
			</tr>
			
			<tr *ngIf="user_type == '3'">
				<td colspan="2">
					<div class="cs-box-radio table-btn-transparent">
						<ion-list radio-group class="cs-ion-radio" name="gstType" [(ngModel)]="gstObj.gstType" (ionChange)="selectSecondaryGstType(gstObj.gstType);calculateAmount1(this.value.qty,this.value.dealer_discount);calculateAmount2(this.value.qty,this.value.dealer_rate)">
							<ion-list-header>
								<ion-label>GST</ion-label>
							</ion-list-header>
							<ion-item>
								<ion-label>GST Paid</ion-label>
								<ion-radio value="With GST" checked></ion-radio>
							</ion-item>
							
							<ion-item>
								<ion-label>GST Extra</ion-label>
								<ion-radio value="Extra GST"></ion-radio>
							</ion-item>
						</ion-list>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="data-table" *ngIf="(value) && (brand == '1' && color == '1') && show == true">
		<table>
			<tr>
				<th>Name</th>
				<td>{{value.product_name | titlecase}}</td>
			</tr>
			
			<tr>
				<th>Category</th>
				<td>{{value.category | titlecase}}</td>
			</tr>
			<tr *ngIf="value.sub_category">
				<th>Sub Category</th>
				<td>{{value.sub_category | titlecase}}</td>
			</tr>
			<tr *ngIf="data.brand">
				<th>Brand</th>
				<td>{{data.brand | titlecase}}</td>
			</tr>
			<tr *ngIf="data.color">
				<th>Color</th>
				<td>{{data.color | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.secondary_packing">
				<th>Small Packing</th>
				<td>{{value.secondary_packing}}</td>
			</tr>
			
			<tr *ngIf="value.master_packing">
				<th>Master Packing</th>
				<td>{{value.master_packing }}</td>
			</tr>
			
			<tr *ngIf="user_type == '3'">
				<td colspan="2">
					<div class="cs-box-radio table-btn-transparent">
						<ion-list radio-group class="cs-ion-radio" name="gstType" [(ngModel)]="gstObj.gstType" (ionChange)="selectSecondaryGstType(gstObj.gstType);calculateAmount1(this.value.qty,this.value.dealer_discount);calculateAmount2(this.value.qty,this.value.dealer_rate)">
							<ion-list-header>
								<ion-label>GST</ion-label>
							</ion-list-header>
							<ion-item>
								<ion-label>GST Paid</ion-label>
								<ion-radio value="With GST" checked></ion-radio>
							</ion-item>
							
							<ion-item>
								<ion-label>GST Extra</ion-label>
								<ion-radio value="Extra GST"></ion-radio>
							</ion-item>
						</ion-list>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="data-table" *ngIf="show == true && edit_dealer_type == '3'">
		<table>
			<tr>
				<th>Name</th>
				<td>{{value.product_name | titlecase}}</td>
			</tr>
			
			<tr>
				<th>Category</th>
				<td>{{value.category | titlecase}}</td>
			</tr>
			<tr *ngIf="value.sub_category">
				<th>Sub Category</th>
				<td>{{value.sub_category | titlecase}}</td>
			</tr>
			<tr *ngIf="data.brand">
				<th>Brand</th>
				<td>{{data.brand | titlecase}}</td>
			</tr>
			<tr *ngIf="data.color">
				<th>Color</th>
				<td>{{data.color | titlecase}}</td>
			</tr>
			
			<tr *ngIf="value.secondary_packing">
				<th>Small Packing</th>
				<td>{{value.secondary_packing}}</td>
			</tr>
			
			<tr *ngIf="value.master_packing">
				<th>Master Packing {{value.gstType}}</th>
				<td>{{value.master_packing }}</td>
			</tr>
			
			<tr *ngIf="user_type == '3'">
				<td colspan="2">
					<div class="cs-box-radio table-btn-transparent">
						<ion-list radio-group class="cs-ion-radio" name="gstType" [(ngModel)]="gstObj.gstType" (ionChange)="selectSecondaryGstType(gstObj.gstType);calculateAmount1(this.value.qty,this.value.dealer_discount);calculateAmount2(this.value.qty,this.value.dealer_rate)">
							<ion-list-header>
								<ion-label>GST</ion-label>
							</ion-list-header>
							<ion-item>
								<ion-label>GST Paid</ion-label>
								<ion-radio value="With GST" checked></ion-radio>
							</ion-item>
							
							<ion-item>
								<ion-label>GST Extra</ion-label>
								<ion-radio value="Extra GST"></ion-radio>
							</ion-item>
						</ion-list>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
	<div class="qt-table pt0" *ngIf="order_qty == '1' && (colorList.length == 0 && brandList.length == 1) && show == true">
		<table>
			<tr>
				<th *ngIf="user_type != '3'">Rate</th>
				<th *ngIf="user_type == '3'">MRP</th>
				<th *ngIf="value1 != undefined " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price == '0' " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price != '0' " class="w62">Rate</th>
				<th class="w62">Gst</th>
				<th class="w45 text-center">Qty</th>
				<th>Amount</th>
				<th class="w40">&nbsp;</th>
			</tr>
			<tr>
				<td *ngIf="value.net_price == 0">&#x20B9; {{value.price}}</td>
				<td *ngIf="value.net_price != 0">&#x20B9; {{value.net_price}}</td>
				<td *ngIf="value1 != undefined ">{{value1.discount}}</td>
				<td *ngIf="user_type == '3' && value.cp_net_price == '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount1(value.qty,value.dealer_discount)" type="number" name="dealer_discount" #dealer_discount="ngModel" [(ngModel)]="value.dealer_discount" required></td>
				<td *ngIf="user_type == '3' && value.cp_net_price != '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount2(value.qty,value.dealer_rate)" type="number" name="dealer_rate" #dealer_rate="ngModel" [(ngModel)]="value.dealer_rate" required></td>

				<td *ngIf="value1 != undefined">{{value1.gst}} %</td>

				<td  *ngIf="user_type == '3'">{{value.gstAmt != 0 ? value.gstAmt : ''}} ({{value.gst.gst}}%)</td>

				<td class="pl5 pr5"><input class="wp100" (input)="value1 != undefined ? calculateAmount(value.qty) : value.cp_net_price != '0' ? calculateAmount2(value.qty,value.dealer_rate) : calculateAmount1(value.qty,value.dealer_discount)" type="number" name="qty" #qty="ngModel" [(ngModel)]="value.qty" required></td>
				<td>&#x20B9; {{value.amount}}</td>
				<td class="pl5 pr5" ><button class="w30 pl0 pr0" (click)="addToCart()"><i class="material-icons">add</i></button></td>
			</tr>
		</table>
	</div>
	
	
	<div class="qt-table pt0" *ngIf="order_qty == '1' && (colorList.length == 1 && brandList.length == 1) && show == true">
		<table>
			<tr>
				<th *ngIf="user_type != '3'">Rate</th>
				<th *ngIf="user_type == '3'">MRP</th>
				<th *ngIf="value1 != undefined " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price == '0' " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price != '0' " class="w62">Rate</th>
				<th class="w62">Gst</th>
				<th class="w45 text-center">Qty</th>
				<th>Amount</th>
				<th class="w40">&nbsp;</th>
			</tr>
			<tr>
				<td *ngIf="value.net_price == 0">&#x20B9; {{value.price}}</td>
				<td *ngIf="value.net_price != 0">&#x20B9; {{value.net_price}}</td>
				<td *ngIf="value1 != undefined ">{{value1.discount}}</td>
				<td *ngIf="user_type == '3' && value.cp_net_price == '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount1(value.qty,value.dealer_discount)" type="number" name="dealer_discount" #dealer_discount="ngModel" [(ngModel)]="value.dealer_discount" required></td>
				<td *ngIf="user_type == '3' && value.cp_net_price != '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount2(value.qty,value.dealer_rate)" type="number" name="dealer_rate" #dealer_rate="ngModel" [(ngModel)]="value.dealer_rate" required></td>
				
				<td *ngIf="value1 != undefined">{{value1.gst}}%</td>

				<td  *ngIf="user_type == '3'">{{value.gstAmt != 0 ? value.gstAmt : ''}} ({{value.gst.gst}}%)</td>

				<td class="pl5 pr5"><input class="wp100" (input)="value1 != undefined ? calculateAmount(value.qty) : value.cp_net_price != '0' ? calculateAmount2(value.qty,value.dealer_rate) : calculateAmount1(value.qty,value.dealer_discount)" type="number" name="qty" #qty="ngModel" [(ngModel)]="value.qty" required></td>
				<td>&#x20B9; {{value.amount}}</td>
				<td class="pl5 pr5" ><button class="w30 pl0 pr0" (click)="addToCart()"><i class="material-icons">add</i></button></td>
			</tr>
		</table>
	</div>
	
	
	<div class="qt-table pt0" *ngIf="(colorList.length >1 && brandList.length > 1) && (color == '1' && brand == '1') && order_qty == '0' && show == true">
		<table>
			<tr>
				<th *ngIf="user_type != '3'">Rate</th>
				<th *ngIf="user_type == '3'">MRP</th>
				<th *ngIf="value1 != undefined " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price == '0' " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price != '0' " class="w62">Rate</th>
				<th class="w62">Gst</th>
				<th class="w45 text-center">Qty</th>
				<th>Amount</th>
				<th class="w40">&nbsp;</th>
			</tr>
			<tr>
				<td *ngIf="value.net_price == 0">&#x20B9; {{value.price}}</td>
				<td *ngIf="value.net_price != 0">&#x20B9; {{value.net_price}}</td>
				<td *ngIf="value1 != undefined ">{{value1.discount}}</td>
				<td *ngIf="user_type == '3' && value.cp_net_price == '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount1(value.qty,value.dealer_discount)" type="number" name="dealer_discount" #dealer_discount="ngModel" [(ngModel)]="value.dealer_discount" required></td>
				<td *ngIf="user_type == '3' && value.cp_net_price != '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount2(value.qty,value.dealer_rate)" type="number" name="dealer_rate" #dealer_rate="ngModel" [(ngModel)]="value.dealer_rate" required></td>
				
				<td *ngIf="value1 != undefined">{{value1.gst}}%</td>

				<td  *ngIf="user_type == '3'">{{value.gstAmt != 0 ? value.gstAmt : ''}} ({{value.gst.gst}}%)</td>

				<td class="pl5 pr5"><input class="wp100" (input)="value1 != undefined ? calculateAmount(value.qty) : value.cp_net_price != '0' ? calculateAmount2(value.qty,value.dealer_rate) : calculateAmount1(value.qty,value.dealer_discount)" type="number" name="qty" #qty="ngModel" [(ngModel)]="value.qty" required></td>
				<td>&#x20B9; {{value.amount}}</td>
				<td class="pl5 pr5" ><button class="w30 pl0 pr0" (click)="addToCart()"><i class="material-icons">add</i></button></td>
			</tr>
		</table>
	</div>
	
	<div class="qt-table pt0" *ngIf="(colorList.length == 1 && brandList.length > 1) && (brand == '1') && order_qty == '0' && show == true">
		<table>
			<tr>
				<th *ngIf="user_type != '3'">Rate</th>
				<th *ngIf="user_type == '3'">MRP</th>
				<th *ngIf="value1 != undefined " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price == '0' " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price != '0' " class="w62">Rate</th>
				<th class="w62">Gst</th>
				<th class="w45 text-center">Qty</th>
				<th>Amount</th>
				<th class="w40">&nbsp;</th>
			</tr>
			<tr>
				<td *ngIf="value.net_price == 0">&#x20B9; {{value.price}}</td>
				<td *ngIf="value.net_price != 0">&#x20B9; {{value.net_price}}</td>
				<td *ngIf="value1 != undefined ">{{value1.discount}}</td>
				<td *ngIf="user_type == '3' && value.cp_net_price == '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount1(value.qty,value.dealer_discount)" type="number" name="dealer_discount" #dealer_discount="ngModel" [(ngModel)]="value.dealer_discount" required></td>
				<td *ngIf="user_type == '3' && value.cp_net_price != '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount2(value.qty,value.dealer_rate)" type="number" name="dealer_rate" #dealer_rate="ngModel" [(ngModel)]="value.dealer_rate" required></td>
				
				<td *ngIf="value1 != undefined">{{value1.gst}}%</td>

				<td  *ngIf="user_type == '3'">{{value.gstAmt != 0 ? value.gstAmt : ''}} ({{value.gst.gst}}%)</td>

				<td class="pl5 pr5"><input class="wp100"(input)="value1 != undefined ? calculateAmount(value.qty) : value.cp_net_price != '0' ? calculateAmount2(value.qty,value.dealer_rate) : calculateAmount1(value.qty,value.dealer_discount)" type="number" name="qty" #qty="ngModel" [(ngModel)]="value.qty" required></td>
				<td>&#x20B9; {{value.amount}}</td>
				<td class="pl5 pr5" ><button class="w30 pl0 pr0" (click)="addToCart()"><i class="material-icons">add</i></button></td>
			</tr>
		</table>
	</div>
	
	<div class="qt-table pt0" *ngIf="(colorList.length > 1 && brandList.length == 1) && (color == '1') && show == true">
		<table>
			<tr>
				<th *ngIf="user_type != '3'">Rate</th>
				<th *ngIf="user_type == '3'">MRP</th>
				<th *ngIf="value1 != undefined " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price == '0' " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price != '0' " class="w62">Rate</th>
				<th class="w62">Gst</th>
				<th class="w45 text-center">Qty</th>
				<th>Amount</th>
				<th class="w40">&nbsp;</th>
			</tr>
			<tr>
				<td *ngIf="value.net_price == 0">&#x20B9; {{value.price}}</td>
				<td *ngIf="value.net_price != 0">&#x20B9; {{value.net_price}}</td>
				<td *ngIf="value1 != undefined ">{{value1.discount}}</td>
				<td *ngIf="user_type == '3' && value.cp_net_price == '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount1(value.qty,value.dealer_discount)" type="number" name="dealer_discount" #dealer_discount="ngModel" [(ngModel)]="value.dealer_discount" required></td>
				<td *ngIf="user_type == '3' && value.cp_net_price != '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount2(value.qty,value.dealer_rate)" type="number" name="dealer_rate" #dealer_rate="ngModel" [(ngModel)]="value.dealer_rate" required></td>
				
				<td *ngIf="value1 != undefined">{{value1.gst}}%</td>

				<td  *ngIf="user_type == '3'">{{value.gstAmt != 0 ? value.gstAmt : ''}} ({{value.gst.gst}}%)</td>

				<td class="pl5 pr5"><input class="wp100" (input)="value1 != undefined ? calculateAmount(value.qty) : value.cp_net_price != '0' ? calculateAmount2(value.qty,value.dealer_rate) : calculateAmount1(value.qty,value.dealer_discount)" type="number" name="qty" #qty="ngModel" [(ngModel)]="value.qty" required></td>
				<td>&#x20B9; {{value.amount}}</td>
				<td class="pl5 pr5" ><button class="w30 pl0 pr0" (click)="addToCart()"><i class="material-icons">add</i></button></td>
			</tr>
		</table>
	</div>
	
	<div class="qt-table pt0" *ngIf="(colorList.length == 0 && brandList.length > 1) && (brand == '1') && show == true">
		<table>
			<tr>
				<th *ngIf="user_type != '3'">Rate</th>
				<th *ngIf="user_type == '3'">MRP</th>
				<th *ngIf="value1 != undefined " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price == '0' " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price != '0' " class="w62">Rate</th>
				<th class="w62">Gst.(%)</th>
				<th class="w45 text-center">Qty</th>
				<th>Amount</th>
				<th class="w40">&nbsp;</th>
			</tr>
			<tr>
				<td *ngIf="value.net_price == 0">&#x20B9; {{value.price}}</td>
				<td *ngIf="value.net_price != 0">&#x20B9; {{value.net_price}}</td>
				<td *ngIf="value1 != undefined ">{{value1.discount}}</td>
				<td *ngIf="user_type == '3' && value.cp_net_price == '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount1(value.qty,value.dealer_discount)" type="number" name="dealer_discount" #dealer_discount="ngModel" [(ngModel)]="value.dealer_discount" required></td>
				<td *ngIf="user_type == '3' && value.cp_net_price != '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount2(value.qty,value.dealer_rate)" type="number" name="dealer_rate" #dealer_rate="ngModel" [(ngModel)]="value.dealer_rate" required></td>
				
				<td *ngIf="value1 != undefined">{{value1.gst}}%</td>

				<td  *ngIf="user_type == '3'">{{value.gstAmt != 0 ? value.gstAmt : ''}} ({{value.gst.gst}}%)</td>

				<td class="pl5 pr5"><input class="wp100" (input)="value1 != undefined ? calculateAmount(value.qty) : value.cp_net_price != '0' ? calculateAmount2(value.qty,value.dealer_rate) : calculateAmount1(value.qty,value.dealer_discount)" type="number" name="qty" #qty="ngModel" [(ngModel)]="value.qty" required></td>
				<td>&#x20B9; {{value.amount}}</td>
				<td class="pl5 pr5" ><button class="w30 pl0 pr0" (click)="addToCart()"><i class="material-icons">add</i></button></td>
			</tr>
		</table>
	</div>
	
	
	<div class="qt-table pt0" *ngIf="(value) && (brand == '1' && color == '1') && show == true">
		<table>
			<tr>
				<th *ngIf="user_type != '3'">Rate</th>
				<th *ngIf="user_type == '3'">MRP</th>
				<th *ngIf="value1 != undefined " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price == '0' " class="w62">Dis.(%)</th>
				<th *ngIf="user_type == '3' && value.cp_net_price != '0' " class="w62">Rate</th>
				<th class="w62">Gst.(%)</th>
				<th class="w45 text-center">Qty</th>
				<th>Amount</th>
				<th class="w40">&nbsp;</th>
			</tr>
			<tr>
				<td *ngIf="value.net_price == 0">&#x20B9; {{value.price}}</td>
				<td *ngIf="value.net_price != 0">&#x20B9; {{value.net_price}}</td>
				<td *ngIf="value1 != undefined ">{{value1.discount}}</td>
				<td *ngIf="user_type == '3' && value.cp_net_price == '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount1(value.qty,value.dealer_discount)" type="number" name="dealer_discount" #dealer_discount="ngModel" [(ngModel)]="value.dealer_discount" required></td>
				<td *ngIf="user_type == '3' && value.cp_net_price != '0'" class="pl5 pr5"><input class="wp100" (input)="calculateAmount2(value.qty,value.dealer_rate)" type="number" name="dealer_rate" #dealer_rate="ngModel" [(ngModel)]="value.dealer_rate" required></td>
				
				<td *ngIf="value1 != undefined">{{value1.gst}}%</td>

				<td  *ngIf="user_type == '3'">{{value.gstAmt != 0 ? value.gstAmt : ''}} ({{value.gst.gst}}%)</td>

				<td class="pl5 pr5"><input class="wp100" (input)="value1 != undefined ? calculateAmount(value.qty) : value.cp_net_price != '0' ? calculateAmount2(value.qty,value.dealer_rate) : calculateAmount1(value.qty,value.dealer_discount)" type="number" name="qty" #qty="ngModel" [(ngModel)]="value.qty" required></td>
				<td>&#x20B9; {{value.amount}}</td>
				<td class="pl5 pr5" ><button class="w30 pl0 pr0" (click)="addToCart()"><i class="material-icons">add</i></button></td>
			</tr>
		</table>
	</div>
	
</div>



<!-- <div class="edit">
	<ion-list>
		
		<form #f="ngForm" (ngSubmit)="f.valid && addToCart()" autocomplete="off">
			<div >
				
				<div class="box payment" *ngIf="show==true" style="position: relative;">
					<div class="heading">
						
					</div>
					<div class="description">
						<p><strong>Category  :</strong>{{value.category}}</p>
						<p><strong>Sub Category  :</strong>{{value.sub_category}}</p>
						<div>
							<div class="dflex">
								<div class="wp50 mr8">
									<ion-item>
										<ion-label floating><span>QTY</span></ion-label>
										<ion-input (input)="value1 != undefined ? calculateAmount(value.qty) : calculateAmount1(value.qty)" type="number" name="qty" #qty="ngModel" [(ngModel)]="value.qty" [ngClass]="{'is-invalid':f.submitted && qty?.invalid}" required></ion-input>
									</ion-item>
									<div *ngIf="f.submitted && qty?.invalid || qty?.touched && qty?.invalid">
										<p class="error-left">Qty Required!</p>
									</div>
								</div>
								<div class="wp50 ml8 mr8 cs-floating">
									<p>Rate</p>
									<div class="view-t">{{value.price}}</div>
								</div>
							</div>
							<div class="dflex">
								<div class="wp50 ml8 mr8 cs-floating" *ngIf="value1 != undefined">
									<p>Discount</p>
									<div class="view-t">{{value1.discount}}</div>
								</div>
								<div class="wp50 ml8 mr8 cs-floating" *ngIf="value1 != undefined">
									<p>GST</p>
									<div class="view-t">{{value1.gst}}</div>
								</div>
								
								<div class="wp50 ml8 cs-floating">
									<p>Amount</p>
									<div class="view-t">{{value.amount}}</div>
								</div>
							</div>
							
							<button ion-button color="secondary" style="position: absolute; right: -10px; bottom: -20px;">
								<ion-icon name='add-circle' ></ion-icon>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div *ngFor="let list of tmp_array ; let i=index" >
			<div class="box payment">
				<div class="heading">
					<p class="code">{{list.product_name}}</p>
				</div>
				<div class="description">
					<p class="font14 pt10"><strong>Brand :</strong>{{list.brand}}</p>
					<p class="font14 pt10" *ngIf="data.color"><strong>Color :</strong>{{list.color}}</p>
					
					<p class="font14 pt10"><strong>Category :</strong>{{list.category}}</p>
					<p class="font14 pt10"><strong>Sub Category :</strong>{{list.sub_category}}</p>
					
				</div>
			</div>
			<div class="table" style="margin: 0px -15px;">
				<table>
					<tr>
						<th class="w40">QTY</th>
						<th class="w50">Price</th>
						<th class="w70" *ngIf="value1 != undefined">Discount</th>
						<th class="w60" *ngIf="value1 != undefined">GST</th>
						<th>Amount</th>
						<th class="w40">&nbsp;</th>
					</tr>
					<tr>
						<td>{{list.qty}}</td>
						<td>{{list.price}}</td>
						<td *ngIf="value1 != undefined">{{list.discount}}</td>
						<td *ngIf="value1 != undefined">{{list.gst}}</td>
						<td>{{list.amount}}</td>
						<td>
							
							<a (click)="removeInCartConfirmation(i)"><i class="material-icons" style="color: #ff0000;">delete_sweep</i></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</ion-list>
	
	
	
	
	
</div> -->

</ion-content>
<!--
	<ion-footer class="ad-cart" *ngIf="globalVar != ''" (click)="go_to_cart()">
		<div class="cs-left">
			<p>
				<span>{{globalVar}}</span>
				<i class="material-icons">shopping_cart</i>
			</p>
		</div>
		<div class="cs-right">
			<p>ORDER VALUE <span>&#x20B9; {{data.order_total |number:'1.2-2'}}</span></p>
		</div>
	</ion-footer> -->
	
	<!-- <div class="endcheck">
		
		<a *ngIf="value1 != undefined && user_data1 == '' && tmp_array.length!=0" (click)="orderPlace()">Place Order</a>
		<a *ngIf="value1 == undefined && user_data1 == '' && tmp_array.length!=0"  (click)="orderPlaceDealer()">Place Order</a>
		<a *ngIf="user_data1 != '' && tmp_array.length!=0"  (click)="addOrderItem()">Add Item</a>
	</div> -->
	